

.fstyle{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.text{
    text-align:center; 
}
.github{
    font-family: 'Barlow';font-size: 22px;
        text-align: center;
    text-decoration: underline;
    padding: 1em;
}
.namestyle{
    text-align:center; 
    font-family: 'Barlow';font-size: 40px;
}