.header{
    background-color: mediumaquamarine;
    border-bottom: 2px black;

}
.bg{
    background-color: darkgray;
}
.imgpos{
padding: 1em;
}
.fstyle{
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    padding: 1em;

}
.h4border{
    border: 10px black;
}

.text{
    text-align:right; 
    padding-top: 3%;
}
.mg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
    height: 90%;
    padding-top: 2%;
}
.udalign{
    text-align: left;
    padding: 1em;
}